

public net.minecraft.world.entity.ai.attributes.AttributeModifier name # name
public net.minecraft.world.entity.ai.attributes.AttributeInstance removeModifier(Lnet/minecraft/world/entity/ai/attributes/AttributeModifier;)V # removeModifier

# Start of user code block custom ATs
# End of user code block custom ATs